<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="jp.tkgktyk.xposed.forcetouchdetector"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposedminversion"
            android:value="2.0*"/>
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description"/>

        <receiver android:name=".app.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".app.PowerConnectionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".app.SettingsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".app.SettingsActivity.Alias"
            android:targetActivity=".app.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <service android:name=".app.EmergencyService"/>
        <service android:name=".app.FloatingActionService"/>

        <activity
            android:name=".app.AreaActivity"
            android:label="@string/label_detection_area"/>
        <activity
            android:name=".app.AppSelectActivity"/>
        <activity
            android:name=".app.ActionPickerActivity"
            android:theme="@style/DialogTheme"/>
        <activity
            android:name=".app.FloatingActionActivity"
            android:label="@string/label_floating_action"/>
        <activity
            android:name=".app.ThresholdActivity$ForceTouch"
            android:label="@string/label_force_touch_threshold"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".app.ThresholdActivity$KnuckleTouch"
            android:label="@string/label_knuckle_touch_threshold"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
    </application>

</manifest>
